.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
  }
  
  h1,h2,h4,th,tr,tbody {
    
      font-family: 'Lato-Regular', Arial, sans-serif;
      font-weight:normal;
      font-style:normal;
  
  }

  .table-container {
    padding: 20px;
    width: 75%;
    flex: wrap;
  }